<h1><%= @brand.name() %></h1>
<div class="main-content">
  <h3>Stores that carry <%= @brand.name() %>:</h3>
  <% if @brand.stores.any? %>
  <ul>
    <% @brand.stores.each() do |store| %>
    <li><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  <a href='/stores/<%= store.id() %>'><%= store.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p><strong>There are currently no brands assigned to this store.</strong></p>
  <br>
  <% end %>
  <h3>Edit Brand Name:</h3>
  <form action="/brands/<%= @brand.id() %>" method="post" class="form-inline">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= @brand.name() %>">
    </div>
    <button type="submit" class="btn">Edit</button>
  </form>
  <form action="/brands/<%= @brand.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete <%= @brand.name() %> from Database</button>
  </form>
</div>
